html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-main);
  font-weight: 400;
  background-color: var(--color-background);
  direction: ltr;
}

.bg-red-gra {
  background: #ff3333;
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 51, 51, 1) 39%,
    rgba(255, 176, 66, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 51, 51, 1) 39%,
    rgba(255, 176, 66, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 51, 51, 1) 39%,
    rgba(255, 176, 66, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF3333", endColorstr="#FFB042", GradientType=0);
}
.bg-green {
  background-color: green;
}
section {
  padding: 10px 0;
  margin: 0 auto;
}
.wrap {
  width: 1140px;
  margin: 0 auto;
}
.wrap-vip {
  width: 1140px;
  margin: 0 auto;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  width: 24%;
}
.col-2,
.col-lp {
  width: 48%;
}
.col-3 {
  width: 73%;
}
.col-4 {
  width: 99%;
}
.col-blog {
  width: 23%;
}
.round-20 {
  border-radius: 20px;
}
.bg-red {
  background-color: var(--color-secondary);
}

.mg-15 {
  margin-bottom: 15px;
}
