.logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  margin-left: 10px;
}
.home-head a i {
  color: rgb(255, 38, 38);
}
.shop-head a i {
  color: #9f63ff;
}
.blog-head a i {
  color: rgb(117, 27, 27);
}
.buy-head a i {
  color: rgb(0, 142, 0);
}
.search-box {
  text-align: left;
  position: absolute;
  top: 0;
  left: 12%;
  height: 100%;
  display: flex;
  align-items: center;
}
.search {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 2px solid rgba(108, 108, 108, 0.414);
  padding-left: 15px;
  margin-left: 10px;
}
.main-menu {
  position: relative;
  z-index: 1000;
  overflow: visible;
  color: var(--color-text);
  background-color: var(--color-org);
  margin: 0 auto;
  text-align: left;
  height: 50px;
  background-color: transparent;
}
section.top {
  border-bottom: 3px solid rgba(231, 231, 231, 0.871);
  background: #e3e3e3;
  background: linear-gradient(
    0deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(133, 133, 133, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 1000;
}
.u-main-menu {
  position: relative;
  z-index: 1;
  background-color: transparent;
  width: 70%;
}
.main-menu ul li {
  display: inline-block;
  padding: 7px 9px;
}
.main-menu {
  display: flex;
}
.main-menu ul li:first-of-type {
  margin-left: auto;
}

.main-menu ul li {
  position: relative;
  vertical-align: top;
}

.main-menu a {
  color: var(--color-text);
  font-size: 18px;
  line-height: 1.75;
  text-decoration: none;
  transition:
    color 0.25s ease,
    background-color 0.25s ease;
}
.main-menu > ul > li > a {
  padding: 8px 8px;
}
.main-menu li:hover > a {
  color: #111;
}
.mini-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 190px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fffcf6;
  text-align: left;
  border: 2px solid var(--color-border);
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  z-index: 1100;
  transition: all 0.4s ease;
}
.main-menu .mini-menu li {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 2px solid rgb(226, 226, 226);
}
.mini-menu li a {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 7px 8px;
  font-size: 15px;
}
.main-menu .mini-menu li:last-child {
  border-bottom: 0;
}
.main-menu .mini-menu li:hover > a {
  background-color: rgba(226, 226, 226, 0.6);
}
.main-menu ul li:hover > .mini-menu {
  opacity: 1;
  visibility: visible;
}
.min-menu2 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 170px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--color-border);
  border-radius: 3px;
  background-color: #fffcf6;
  opacity: 0;
  visibility: hidden;
  z-index: 1200;
  transition: all 0.4s ease;
}
.main-menu .mini-menu li:hover > .min-menu2 {
  opacity: 1;
  visibility: visible;
}
